# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecoysyem are summarized.

## **Objectives** 
- List common libraries used by data scientists
- Tabulate common data science tools
- Evaluate arithmetic expressions in Python

#### Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

#### Some of the commonly used libraries used by Data Scientists include
1. Numpy
2. MatplotLib
3. PyTorch

|Data Science Tools|
|---|
|Apache Spark|
|---|
|Apache Hadoop|
|---|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python
#### (3*4)+5
#### 2+2-1
#### (10/5)+5

In [27]:
## This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [29]:
## This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Lithalethu Yotsi